<%= turbo_stream_from :transactions %>
<%= turbo_stream_from :promotions %>

<div class="dashboardContent">
  <div class="dashboardContent_transactionList">
    <p class="siText siText__subtitle siText__colorPrimary">Accrual history</p>
    <%= turbo_frame_tag :transitions, class: "transitions_list" do %>
      <%= render transactions %>
    <% end %>
  </div>
  <div class="dashboardContent_promotionsList">
    <p class="siText siText__subtitle siText__colorPrimary">Promotions</p>
    <%= turbo_frame_tag :promotions, class: "promotions_list" do %>
      <%= render @promotions %>
    <% end %>
  </div>
</div>
