<div class="siNavbar">
  <div class="siNavbar_menu" data-controller="link">
    <a class="siText siNavbar_link siText__regular siText__colorPrimary" href="/" data-links-target="link" data-action="mouseenter->link#onRollOver mouseout->link#onRollOut">
      <span class="non-hover">
        <%= show_svg('icon-dashboard.svg') %>
      </span>
      <span class="only-hover">
        <%= show_svg('icon-dashboard-hover.svg') %>
      </span>
      Dashboard
    </a>

    <%#= link_to 'LINK', "/promotions", class: "siText siNavbar_link siText__regular siText__colorPrimary", data: { action: "link->home#onClick" } %>

    <a class="siText siNavbar_link siText__regular siText__colorPrimary" href="/promotions">
      <span class="non-hover">
        <%= show_svg('icon-promotions.svg') %>
      </span>
      <span class="only-hover">
        <%= show_svg('icon-promotions-hover.svg') %>
      </span>
      Promotions
    </a>

    <a class="siText siNavbar_link siText__regular siText__colorPrimary" href="/portfolio">
      <span class="non-hover">
        <%= show_svg('icon-portfolio.svg') %>
      </span>
      <span class="only-hover">
        <%= show_svg('icon-portfolio-hover.svg') %>
      </span>
      Portfolio
    </a>
    <a class="siText siNavbar_link siText__regular siText__colorPrimary" href="/wallet">
      <span class="non-hover">
        <%= show_svg('icon-wallet.svg') %>
      </span>
      <span class="only-hover">
        <%= show_svg('icon-wallet-hover.svg') %>
      </span>
      Wallet
    </a>
    <a class="siText siNavbar_link siText__regular siText__colorPrimary" href="/profile">
      <span class="non-hover">
        <%= show_svg('icon-profile.svg') %>
      </span>
      <span class="only-hover">
        <%= show_svg('icon-profile-hover.svg') %>
      </span>
      My
      profile
    </a>
    <a class="siText siNavbar_link siText__regular siText__colorPrimary" href="/help">
      <span class="non-hover">
        <%= show_svg('icon-help.svg') %>
      </span>
      <span class="only-hover">
        <%= show_svg('icon-help-hover.svg') %>
      </span>
      Help
    </a>
  </div>
  <div class="siNavbar_footer">
    <p class="siText siNavbar_footer_item siNavbar_link siText__regular siText__colorPrimary">
      Exit
      <span class="non-hover">
        <%= show_svg('icon-dashboard.svg') %>
      </span>
      <span class="only-hover">
        <%= show_svg('icon-dashboard-hover.svg') %>
      </span>
    </p>
  </div>
</div>
