<div class="siNavbar">
  <div class="siNavbar_menu" data-controller="link">
    <a
      class="siText siNavbar_link siText__regular siText__colorPrimary"
      href="/"
      data-link-target="item"
    >
      <img src="<%= asset_path('icon-dashboard.svg') %>" class="icon-regular" alt="dashboard" width="30" height="26">
      <img src="<%= asset_path('icon-dashboard-hover.svg') %>" class="icon-hover" alt="dashboard" width="30" height="26">
      Dashboard
    </a>

    <a class="siText siNavbar_link siText__regular siText__colorPrimary" data-link-target="item" href="/promotions">
      <img src="<%= asset_path('icon-promotions.svg') %>" class="icon-regular" alt="promotions" width="30" height="26">
      <img src="<%= asset_path('icon-promotions-hover.svg') %>" class="icon-hover" alt="promotions" width="30" height="26">
      Promotions
    </a>

    <a class="siText siNavbar_link siText__regular siText__colorPrimary" data-link-target="item" href="/portfolio">
      <img src="<%= asset_path('icon-portfolio.svg') %>" class="icon-regular" alt="portfolio" width="30" height="26">
      <img src="<%= asset_path('icon-portfolio-hover.svg') %>" class="icon-hover" alt="portfolio" width="30" height="26">
      Portfolio
    </a>
    <a class="siText siNavbar_link siText__regular siText__colorPrimary" data-link-target="item" href="/wallet">
      <img src="<%= asset_path('icon-wallet.svg') %>" class="icon-regular" alt="wallet" width="30" height="26">
      <img src="<%= asset_path('icon-wallet-hover.svg') %>" class="icon-hover" alt="wallet" width="30" height="26">
      Wallet
    </a>
    <a class="siText siNavbar_link siText__regular siText__colorPrimary" data-link-target="item" href="/profile">
      <img src="<%= asset_path('icon-profile.svg') %>" class="icon-regular" alt="profile" width="30" height="26">
      <img src="<%= asset_path('icon-profile-hover.svg') %>" class="icon-hover" alt="profile" width="30" height="26">
      My
      profile
    </a>
    <a class="siText siNavbar_link siText__regular siText__colorPrimary" data-link-target="item" href="/help">
      <img src="<%= asset_path('icon-help.svg') %>" class="icon-regular" alt="help" width="30" height="26">
      <img src="<%= asset_path('icon-help-hover.svg') %>" class="icon-hover" alt="help" width="30" height="26">
      Help
    </a>
  </div>
  <div class="siNavbar_footer">
    <p class="siText siNavbar_footer_item siNavbar_link siText__regular siText__colorPrimary">
      Exit
      <img src="<%= asset_path('icon-exit.svg') %>" class="icon-regular" alt="exit" width="30" height="26">
      <img src="<%= asset_path('icon-exit-hover.svg') %>" class="icon-hover" alt="exit" width="30" height="26">
    </p>
  </div>
</div>
