<div
  class="portfolio_card"
  data-asset-card-target="card"
  data-asset-card-url-param="/properties/<%= asset_card[:id] %>/asset"
  data-action="click->asset-card#navigateToDetails"
>
  <%= image_tag url_for(@properties.find { |prop| prop.id == asset_card[:propertyId] }.image), class: "assets_card_image", width: 140, height: 140, alt: "preview" %>
  <div class="p-3 flex-fill">
    <div class="portfolio_card_header">
      <div>
        <p class="siText mb-2 siText__label siText__colorPrimary"><%= @properties.find { |prop| prop.id == asset_card[:propertyId] }.name %></p>
        <div class="d-flex mb-3 align-items-center">
          <span class="siText siText__regular siText__colorPrimary"><%= @properties.find { |prop| prop.id == asset_card[:propertyId] }.address %></span>
          <span class="siBadge ms-2"><%= (@properties.find { |prop| prop.id == asset_card[:propertyId] }.prop_type == 'passive') ? 'passive' : 'active' %></span>
        </div>
      </div>
      <button
        type="button"
        class="text-decoration-underline btn btn-text"
        data-asset-card-url-param="<%= asset_card[:id] %>"
        data-asset-card-target="request"
        data-action="click->asset-card#sendBuyRequest:stop"
      >
        Acquire additional equity
      </button>
    </div>
    <div class="portfolio_card_footer">
      <div>
        <p class="siText siText__label siText__colorPrimary">Equity cost</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary"><%= asset_card[:equityCost] %></p>
      </div>
      <div>
        <p class="siText siText__label siText__colorPrimary">Equity</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary"><%= asset_card[:equity] %></p>
      </div>
      <div>
        <p class="siText siText__label siText__colorPrimary">Projected yield</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary"><%= asset_card[:projectedYield] %></p>
      </div>
      <div>
        <p class="siText siText__label siText__colorPrimary">Property cost</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary"><%= @properties.find { |prop| prop.id == asset_card[:propertyId] }.price %></p>
      </div>
      <div>
        <p class="siText siText__label siText__colorPrimary">Total income</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary"><%= asset_card[:income] %></p>
      </div>
    </div>
  </div>
</div>
