<%= link_to property_path(asset_card.id, tab: 'asset'), class: "portfolio_card" do %>
  <%= image_tag url_for(asset_card.image), class: "assets_card_image", width: 140, height: 140, alt: "preview" %>
  <div class="p-3 flex-fill">
    <div class="portfolio_card_header">
      <div>
        <p class="siText mb-2 siText__label siText__colorPrimary"><%= asset_card.name %></p>
        <div class="d-flex mb-3 align-items-center">
          <span class="siText siText__regular siText__colorPrimary"><%= asset_card.address %></span>
          <span class="siBadge ms-2"><%= asset_card.prop_type %></span>
        </div>
      </div>
      <button
        type="button"
        class="text-decoration-underline btn btn-text"
        data-equity-url-param="<%= asset_card.id %>"
        data-action="click->equity#sendBuyInRequest:prevent"
      >
        Acquire additional equity
      </button>
    </div>
    <div class="portfolio_card_footer">
      <div>
        <p class="siText siText__label siText__colorPrimary">Equity cost</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary" data-i18n-target="$"><%= asset_card.min_investment %></p>
      </div>
      <div>
        <p class="siText siText__label siText__colorPrimary">Equity</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary" data-i18n-target="percent"><%= asset_card.min_equity %></p>
      </div>
      <div>
        <p class="siText siText__label siText__colorPrimary">Projected yield</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary" data-i18n-target="percent"><%= asset_card.yield_plan %></p>
      </div>
      <div>
        <p class="siText siText__label siText__colorPrimary">Property cost</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary" data-i18n-target="$"><%= asset_card.price %></p>
      </div>
      <div>
        <p class="siText siText__label siText__colorPrimary">Total income</p>
        <p class="portfolio_card_value siText siText__subtitle siText__colorPrimary" data-i18n-target="$"><%= asset_card[:income] %></p>
      </div>
    </div>
  </div>
<% end %>
