<div class="wallet_transaction">
  <p class="siText wallet_transaction_date siText__label siText__colorMidGrey"><%= transaction.created_at.strftime("%d.%m.%Y") %></p>
  <div class="wallet_transaction_names">
    <p class="siText siText__regular siText__colorPrimary"><%= transaction.title %></p>
    <p class="siText siText__label siText__colorGrey"><%= transaction.description %></p>
  </div>
  <div class="wallet_transaction_values">
    <p class="siText siText__regularBold <%= ["deposit", "passive_income", "equity_sale"].include?(transaction.transaction_type) ? 'siText__colorSuccess' : 'wallet_transaction_value__red' %>">
      <%= ["deposit", "passive_income", "equity_sale"].include?(transaction.transaction_type) ? '+ ' : '- ' %>
      <span data-i18n-target="$"><%= transaction.money_quantity %></span>
    </p>
    <% if transaction.annual_percentage.present? -%>
      <div class="wallet_transaction_values_description">
        <span class="siText siText__label siText__colorPrimary" data-i18n-target="percent"><%= transaction.annual_percentage %></span>
        <span class="siText siText__label siText__colorGrey">annual</span>
      </div>
    <% end %>
  </div>
  <% if transaction.report_url.present? -%>
    <a class="wallet_transaction_downloadBadge" href="<%= transaction.report_url %>>" download="Report">
      <span class="siText siText__label siText__colorPrimary">Report</span>
      <%= show_svg('icon-download.svg') %>
    </a>
  <% end %>
</div>
