<%= simple_form_for(
      current_user,
      as: :user,
      method: :patch,
      url: user_registration_path,
      html: {class: 'personalInfo'},
      data: {controller: 'form'}) do |f| %>
  <div class="mb-3">
    <%= f.input :email,
          disabled: true,
          label_html: { class: 'profile_form_label form-label' },
          input_html: { class: 'profile_form_input form-control' },
          error_html: { class: 'invalid-feedback' },
          error: 'Username is mandatory, please specify one'
    %>
  </div>
  <div class="mb-3">
    <%= f.input :name,
          label_html: { class: 'profile_form_label form-label' },
          input_html: { class: 'profile_form_input form-control', maxlength: 20 },
          error_html: { class: 'invalid-feedback' },
          error: 'Name is mandatory, please specify one'
    %>
  </div>
  <div class="mb-4">
    <%= f.input :phone,
          label_html: { class: 'profile_form_label form-label' },
          input_html: { class: 'profile_form_input form-control', maxlength: 20 },
          error_html: { class: 'invalid-feedback' },
          error: 'Phone is mandatory, please specify one'
    %>
  </div>
  <div class="profile_form_buttons">
    <%= f.button :submit, class: "btn btn-outline-secondary" do %>
      Edit <%= show_svg('pencil.svg') %>
    <% end %>
  </div>
<% end %>

